.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 1.5em ;
        justify-content: center;
        align-items: center;
    }

    .cabecalho__menu{
        display: flex;
        gap: 30px;
    }
    
    .cabecalho__menu__link{
        font-size: 1.2em;
    }
}
